<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% for(var i =0; i<results.length; i++){ %>
        <h1><%= results[i]["name"] %></h1>
        <h3>Phone Number: <%= results[i]["number"] %></h3>
        <% console.log("hello");} %>
        
    </div>
</body>
</html>