body {
    padding: 2%;
}

a {
    text-decoration: none;
    color: #212529;
}

.clinic-options-btn {
    background-color: #5271ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.clinic-options-btn p {
    position: relative;
    top: 10px;
    color: #ffffff;
}