.sidebar {
    
    background-color: #5271ff;
}

.sidebar-nav-link{
    background-color: #004aad;
}

.right-side-body {
    padding: 2%;

}

.profile-dropdown-btn {
    background-color: #004aad;


}

.profile-dropdown-btn:hover,.profile-dropdown-btn.show, .profile-dropdown-btn:first-child:active {
    background-color: #004aad;


}


.profile-dropdown-btn span {
    background-color: #004aad
}

/* Home Page */

div.data-box{
  background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
}

.a_table tbody tr:nth-child(odd){
  background-color: #5271ff;
}