
body {
    margin: 0;
    display: flex;
}

.btn-show {
    display: none;
}

@media (max-width: 1250px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 1;
    }

    .btn-show {
        display: block;
    }

    .show {
        transform: none !important;

    }

    body {
        display: block;
    }
}

.sidebar {
    width: 400px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    transition: transform 0.3s ease-in-out;

}

.sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.sidebar-title {
    margin: 0;
    color: #ffffff
}

.sidebar-close {
    border: none;
    background-color: transparent;
}

.sidebar-body {
    flex-grow: 1;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.sidebar-nav-item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20%;
}

.sidebar-nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav-link span {
    margin-left: 9px;
    line-height: 1;
    position: relative;
    top: 3px;
    /* font-size: 1.3rem; */
}

.right-side {
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}